/* Reset Styles */
html, body {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Navbar */
/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically align navbar items */
  justify-content: space-between; /* Distribute items evenly along the navbar */
}

.navbar .logo {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ddd;
}

header h1 {
  font-size: 24px;
}

/* Hero Section */
#hero {
  background-color: #f2f2f2;
  text-align: center;
  padding: 100px 0;
}

#hero h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

/* Sections */
section {
  padding: 100px 0;
  text-align: center;
}

section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

section p {
  font-size: 18px;
}

/* Contact Form */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: none;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header h1 {
      font-size: 20px;
  }

  #hero h2 {
      font-size: 24px;
  }

  #hero p {
      font-size: 16px;
  }

  section h2 {
      font-size: 24px;
  }

  section p {
      font-size: 16px;
  }

  form input,
  form textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  #hero {
      padding: 50px 0;
  }

  #hero h2 {
      font-size: 20px;
  }

  #hero p {
      font-size: 14px;
  }

  section {
      padding: 50px 0;
  }

  section h2 {
      font-size: 20px;
  }

  section p {
      font-size: 14px;
  }

  form input,
  form textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
  }
}
